/* Reset */

ul {
	padding: 				0;
	margin: 				0;
}

h1 {
	margin: 				0;
}

section:after, .clearfix:after { 
	content: 				"."; 
	visibility: 			hidden; 
	display: 				block; 
	height: 				0; 
	clear: 					both
}

body {
	margin: 				0;
	padding: 				0;
	background-color: 		lightgray;
}

.teaser-title {
	text-align: 			center;
}

.section-title {
	border: 				1px solid black;
}

.container {
	background-color: 		white;
}

/* Oppgave 1: Generell oppstramming */

