.menu-element { width: 12.25%; }
.container { 
	padding: 40px 0px;
	margin-top: 40px;
}
.logo { margin-left: 40px; }

/* Oppgave 1: Generell oppstramming */

/* Oppgave 2: Menyen; */

/* Oppgave 3: "Dette gjør vi"-seksjonen */

/* Oppgave 4: Seksjonsheadere */

/* Oppgave 5: Aktuelt-seksjonen */

/* Oppgave 6: BEKK Open-seksjonen */

/* Oppgave 7: Lag en transition i menyen */

/* Oppgave 8: Footer-seksjonen */
