/* Basic styling
--------------------------------------------- */

body {
    font-size: 16px;
    color: #4D4F53;
    background: #eceef1;
}

p {
    line-height: 1.5;
}

a {
    color: #228fd3;
}

h1 {
    margin:-50px -50px 0 -50px;
    padding:30px 50px;
    font-weight: normal;
    font-size: 1.5em;
    background: #228fd3;
    color:#fff;
}

h3 {
    font-weight: normal;
    text-transform: uppercase;
    font-size: 1em;
    color:#000;
}

header, nav, section {
    margin-bottom: 2em;
}

.container {
    width: 860px;
    margin: 0 auto;
    background: #fff;
    padding:50px;
}

article {
    background: #eceef1;
    padding:1em 2em;
    margin:0 0 2em 0;
    border-left:5px solid #228fd3;
}


/* Meny
--------------------------------------------- */

body > .container:first-of-type {
    margin-top: 140px;
}

.siteheader {
    position: fixed;
    top: 0;
    left: 50%;
    margin-left:-480px;
}

.siteheader .container {
    padding-bottom:0;
}

.sitenav {
    background: #26282b;
    margin: 0 -50px;
    padding:0 50px;
}

.sitenav ul {
    margin: 0;
    padding: 0;
}

.sitenav li {
    padding-top: 5px;
    float: left;
}

.sitenav li.active {
    background-color: #fff;
}

.sitenav li:hover {
    background: #ccc;
}

.sitenav li a {
    display: block;
    padding: 1em 1em 1.3em 1em;
    color: #ccc;
    text-decoration: none;
}

.sitenav li a:hover {
    color: #fff;
}

.sitenav li a, .sitenav li a:hover, .sitenav li a:active {
    background: #26282b;
}

.group:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}


/* Responsive
--------------------------------------------- */

.retina {
    display: none;
}

.container img {
    max-width: 100%;
}

@media all and (max-width: 950px) {
    .container {
        width:auto;
    }
    .siteheader {
        position: relative;
        margin:0;
        left:0;
    }
    .sitenav li a {
        padding: 1em 0.5em;
    }
    body > .container:first-of-type {
        margin-top: 0px;
    }
}

@media all and (max-width: 690px) {
    .sitenav li {
        width: 20%;
    }
    .siteheader {
        left: 0;
        width: 100%;
        position: relative;
        text-align: center;
    }
}

@media all and (max-width: 480px) {
    .sitenav li {
        width: 33%;
    }
}

@media only screen and (min-device-pixel-ratio: 1.5) {
    img.retina {
        display: none;
    }

    img.standard {
        display: block;
    }
}


/* Snacks
--------------------------------------------- */

body {
    font-family: 'Source Sans Pro', sans-serif;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.8em;
    line-height: .8;
}

h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-size:1.2em;
}

h3 i {
    margin:0 0.5em 0 0;
}

.container {
    box-shadow:0 0 2em rgba(0,0,0,0.05);
}

.sitenav li {
    text-transform: uppercase;

    -webkit-transition: all 100ms ease-in-out;
    -moz-transition: all 100ms ease-in-out;
    -ms-transition: all 100ms ease-in-out;
    -o-transition: all 100ms ease-in-out;
    transition: all 100ms ease-in-out;
}

.hero, article {
    -webkit-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
       -moz-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
        -ms-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
         -o-transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
            transition: all 200ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
}

.hero:hover, article:hover {
    cursor:pointer;
    -webkit-transform: scale(1.03);
       -moz-transform: scale(1.03);
        -ms-transform: scale(1.03);
         -o-transform: scale(1.03);
            transform: scale(1.03);
}

/* Image gallery 
--------------------------------------------- */
#tagSearch {
    font-size: 1.5em;
    padding: 5px 10px;
    display: block;
    margin: 0 auto;
}

#thumbs {
    margin-top: 30px;
}

#largeImage {
    display: none; /* initial state , js overstyrer når element blir klikket*/
    width: 640px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


.loading {
    text-align: center;
}

.images-nav, .image-stage {
    text-align: center;
    font-size: 1.2em;
    color: #808080;
    margin-bottom: 40px;
}

.image-small {
    width: 65px;
    height: auto;
    padding: 5px;
    margin-right: 20px;   
}

.image-large {
    width: 100%;
    height: auto;
}