/* Responsive
 	-------------------------------------------- */

 .mobile-menu {
 	display: 				none;
 	width: 					100%;
 }

 .mobile-menu a {
 	background-image: url('../../mockup/grafikk/menu-icon/icon-home.png');
    background-position: 20px 13px;
 }

.image-gallery img {
	max-width: 			100%;
	width: 				100%;
	height: 			auto;
}


@media all and (max-width: 1046px) {
    .container {
        width:              auto;
    }


    .service-item {
		width: 				50%;
		height: 			120px;
	}

	.news {
		display: 			none;
	}

	.footer-item {
    	float: 				none !important;
    	width:				90% !important;
    	margin: 			0 auto !important;
    	text-align: 		center;
    }
}

@media all and (max-width: 875px) {
    .menu-element {
		display: 			none;

	}

	.mobile-menu {
		display: 			block;
	}
}

@media all and (max-width: 750px) {
    #global-search {
		display: 			none;
	}
}

@media all and (max-width: 480px) {
	.image-gallery-nav {
		display: 			none;
	}

	h1 {
		margin-top: 20px;
	}

	.service-item {
		float: 				none;
		height: 			auto;
	}

    article {
    	float: 				none !important;
    	width:				100% !important;
    	margin: 			0 auto !important;
    }
}