html {
	padding: 20px; 
	background: url("../img/stripe.png");
}

body {
	background: #fff;
	max-width: 300px;
	width: 100%;
	margin: 0 auto;
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 85%; 
	padding: 20px;
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.app-title {
	font-size: 6.6em;
	letter-spacing: -2px;
	margin: .3em 0;
}

.todo-form {
	margin-bottom: 50px;
}

.input-text {
	border: 2px solid #ccc;
	padding: 4px; 
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%; 
	font-size: 2em;
	font-family: 'Roboto Condensed', sans-serif;
}

.todo-list {
	font-size: 1.5em;
	list-style-type: none;
	margin: 0;
	padding: 0; 
}

.todo-list li {
	margin-bottom: 5px;
	padding: 6px;
}

.todo-list li:hover {
	background: #ccc;
}

.btn {
	display: inline-block;
	padding: 2px;
	font-size: .6em;
	margin-left: .5em;
	margin-top: 3px;
	text-decoration: underline;
	float: right;
}

.btn:link, .btn:visited {
	color: #000;
}

.btn:hover {
	color: red;
}